@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #C5979D, #ffc3ca);
}

main{
    background-color: white;
    border:3px solid #4B8F8C;
    border-radius:15px;
    box-shadow: 10px 10px 24px #484D6D;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1{
    color: #191e35;
    text-shadow: 1px 1px 3px #140c1d;
}

h2{
    color: #4B8F8C;
    text-shadow: 1px 1px 3px #191e35;
}

p{
    text-align: justify;
}